.fixed-card{
    margin-right: 10px;
    margin-top: 5px;
}
.text-card-size-fixed{
    font-size: 18px;
}
.fixed-12{
    margin-top: 5px;
    font-weight: 600;

}
.dayoff-danger{
    color: red;
    font-size: 15px;
}
.dayoff-success{
    color: green;
    font-size: 15px;
}
.star{
    color: red;
    font-size: 10px;
}
.rota-icon-size-fixed{
    font-size: 40px !important;
}